.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 4px;

  & > * {
    pointer-events: none;
  }
}

.btn-full {
  width: 100%;
}

// Btn Size
@mixin btnRes($padding: 20px, $minWidth: 160px, $height: 52px, $gap: 8px) {
  min-width: $minWidth;
  height: $height;
  padding: 0 $padding;

  .btn-inner {
    gap: $gap;
  }
}

.btn-lg {
  @include btnRes;
  @include fontFamilyButton(lr);

  @include sm {
    @include btnRes($height: 44px);
  }
}

.btn-md {
  @include btnRes($height: 38px);
  @include fontFamilyButton(mr);

  @include md {
    @include btnRes($height: 40px);
  }

  @include sm {
    @include btnRes($height: 36px);
  }
}

.btn-sm {
  @include fontFamilyButton(sr);
  @include btnRes($padding: 16px, $minWidth: 80px, $height: 28px, $gap: 4px);

  @include md {
    @include btnRes($padding: 16px, $minWidth: 80px, $height: 32px, $gap: 4px);
  }

  @include sm {
    @include btnRes($padding: 16px, $minWidth: 80px, $height: 28px, $gap: 4px);
  }
}

.btn-outline {
  border: 1px solid;

  &.outline-black {
    border-color: $black;

    &:hover {
      background-color: $gray90;
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;

      span {
        color: $gray60;
      }
    }
  }

  &.outline-white {
    border-color: $white;
    background-color: transparent;

    span {
      color: $white;
    }

    &:hover {
      background-color: rgba($gray100, 0.2);
    }

    &:disabled {
      border-color: $gray60;
      background-color: transparent;

      span {
        color: $gray60;
      }
    }
  }
}

.btn-bg {
  border: 1px solid transparent;

  &.bg-black {
    background-color: $black;

    span {
      color: $white;
    }

    &:hover {
      background-color: $gray20;
    }

    &:disabled {
      background-color: $gray30;

      span {
        color: $gray50;
      }
    }
  }

  &.bg-white {
    background-color: $white;

    &:hover {
      background-color: $gray80;
    }

    &:disabled {
      background-color: $gray80;

      span {
        color: $gray60;
      }
    }
  }

  &.bg-highlight {
    @include themeChangeMixin(background-color, 1);

    span {
      color: $white;
    }

    &:hover {
      // background-color: $gray80;
    }

    &:disabled {
      background-color: $gray80;

      span {
        color: $gray60;
      }
    }
  }
}

.btn-icon {
  $btnSizes: 40, 32, 24, 16, 12;

  border: 0;

  @each $btnSize in $btnSizes {
    &.btn-#{$btnSize} {
      width: $btnSize + px;
      height: $btnSize + px;

      @include md {
        width: ($btnSize + 8) + px;
        height: ($btnSize + 8) + px;
      }

      svg {
        @include md {
          width: ($btnSize) + px;
          height: ($btnSize) + px;
        }
      }
    }
  }

  &.view-switch {
    &.active {
      path {
        fill: $black;
      }
    }
  }

  &.btn-circle {
    overflow: hidden;
    border-radius: 100%;
  }
}

.btn-text {
  display: inline-flex;
  height: auto;
  align-items: center;
  border: none;

  &.btn-spacing {
    &-lg {
      gap: 8px;
    }

    &-md {
      gap: 4px;
    }

    &-sm {
      gap: 2px;
    }
  }

  &.btn-icon {
    &-line-arrow {
      &.md {
        @include fontFamilyButton(mb);

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    &-arrow {
      &.lg {
        @include fontFamilyButton(lr);

        svg {
          width: 16px;
          height: 16px;
        }
      }

      &.md {
        @include fontFamilyButton(mr);

        svg {
          width: 12px;
          height: 12px;
        }
      }

      &.sm {
        @include fontFamilyButton(sr);

        svg {
          width: 12px;
          height: 12px;
        }
      }

      svg {
        margin-top: 2px;
        transform: rotate(270deg);

        path {
          fill: $gray00;
        }
      }

      &.arrow-dir-top {
        svg {
          transform: rotate(180deg);
        }
      }

      &.arrow-dir-left {
        svg {
          transform: rotate(90deg);
        }
      }

      &.arrow-dir-bottom {
        svg {
          transform: rotate(0);
        }
      }
    }

    &-scroll {
      &.sm {
        @include fontFamilyButton(sb);
      }
    }
  }
}

// button 개별 css
.btn-header {
  border-radius: 50%;
  transition: background-color 0.3s;

  &:hover {
    @include lg {
      background-color: $gray80;
    }
  }

  &:focus {
    border: 1px solid $gray00;
  }
}

.btn-user-open {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;

  &.inner-name {
    flex-wrap: wrap;

    & > span {
      display: block;
      width: 100%;

      & + span {
        margin-top: 2px;
      }
    }

    @at-root .table-type-lg & {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: flex-start;

      & > span {
        width: auto;

        & + span {
          margin-top: 0;
          margin-left: 4px;
        }
      }
    }
  }
}

.user-image {
  display: block;
  border: 1px solid $gray90;
  background-image: url("#{$iconRootPath}/ico_avatar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;

  &.type1 {
    background-image: url("#{$iconRootPath}/ico_avatar1.png");
  }

  &.type2 {
    background-image: url("#{$iconRootPath}/ico_avatar2.png");
  }

  &.type3 {
    background-image: url("#{$iconRootPath}/ico_avatar3.png");
  }

  &.type4 {
    background-image: url("#{$iconRootPath}/ico_avatar4.png");
  }

  &.type5 {
    background-image: url("#{$iconRootPath}/ico_avatar5.png");
  }
}

.btn-like {
  display: flex;
  height: auto;
  align-items: center;
  border: none;
  gap: 4px;

  /* stylelint-disable-next-line selector-class-pattern */
  .ico_heart_svg__heart-inner {
    transition: fill 0.3s;
  }

  &.active {
    /* stylelint-disable-next-line selector-class-pattern */
    .ico_heart_svg__heart-inner {
      fill: $black;
    }
  }

  .like-count {
    @include fontFamilyData(cs);
  }
}
